//

@import "partials/_variables.scss";
@import "partials/_general.scss";

@import "partials/_header.scss";
@import "partials/_jumbotron.scss";
@import "partials/currentSeries.scss";
@import "partials/comic";
@import "partials/home-cta";
@import "partials/_footer.scss";
