* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
}
header .header-container {
  width: 100%;
  background-color: #0282f9;
}
header .header-top {
  width: 60%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}
header .header-top span {
  font-size: 10px;
  font-weight: bold;
  margin-left: 3rem;
}
header .header-bottom {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
header .header-bottom nav {
  height: 100%;
}
header .header-bottom ul {
  display: flex;
  gap: 1rem;
}
header .header-bottom ul a {
  text-transform: uppercase;
  color: black;
}

.jumbotron {
  width: 100%;
  height: 420px;
  overflow-y: hidden;
}
.jumbotron img {
  width: 100%;
}

.current-series {
  background-color: #1c1c1c;
  color: white;
  padding-top: 3rem;
  position: relative;
}
.current-series .tag {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  background-color: #0282f9;
  position: absolute;
  top: -3%;
  left: 15%;
}
.current-series .series-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}
.current-series .series-container .serie {
  display: flex;
  flex-direction: column;
  width: calc(16.6666666667% - 2rem);
}
.current-series .series-container .serie img {
  margin-bottom: 1rem;
}
.current-series .series-container .serie span {
  text-transform: uppercase;
}
.current-series .load-more {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.current-series .load-more span {
  text-transform: uppercase;
  padding: 1rem 5rem;
  background-color: #0282f9;
  color: white;
  font-weight: bold;
}

.home-cta {
  background-color: #0282f9;
  color: white;
}
.home-cta .cta-container {
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}
.home-cta .cta-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
}
.home-cta .cta-item img {
  width: 50px;
}

footer {
  width: 100%;
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
footer h2 {
  color: white;
  text-transform: uppercase;
}
footer ul {
  padding: 1rem 0;
  font-size: 0.8rem;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  text-transform: capitalize;
  color: gray;
}
footer .footer-container {
  width: 60%;
  margin: 0 auto;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  width: 100%;
  height: 500px;
}
footer .footer-top .footer-menu {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-top .footer-menu p {
  color: gray;
}
footer .footer-top .footer-menu p a {
  color: #0282f9;
}
footer .footer-top .footer-menu > * {
  margin-right: 2rem;
}
footer .footer-bottom {
  background-color: #303030;
}
footer .footer-bottom .footer-bottom-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .footer-bottom .footer-bottom-container .sign-up-now {
  color: white;
  padding: 3rem 0;
}
footer .footer-bottom .footer-bottom-container .sign-up-now span {
  text-transform: uppercase;
  border: 3px solid #0282f9;
  padding: 1rem;
}
footer .footer-bottom .footer-bottom-container .icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .footer-bottom .footer-bottom-container .icons span {
  color: #0282f9;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.1rem;
  font-weight: bold;
}
footer .footer-bottom .footer-bottom-container .icons img {
  width: 100%;
}